*{
    padding: 0;
    margin: 0;
}
.banner {
    width: 100%;
    height: 100vh;
}
.banner video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.navbar .container .navbar-brand {
    font-size: 2rem;
    font-weight: 800;
    color: white;
    font-style: italic;
    font-weight: bold;
    /* background-color: #b5e7a0; */
}

.navbar .container .navbar-brand span {
    color: indianred;
}

.hero{
    margin-bottom: 80px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }

  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  /* Active/current link */
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }

  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }

  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }

  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .footer {
    background-color: white;
    color: white;
    text-align: center;
    margin-top: 20;

}

.tampil {
    margin-left: 4px;
    margin-bottom: 50px;
}

/*login register*/
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
.btn {
    color: white;
}
